[submodule "spirv-cross"]
	path = external/SPIRV-Cross
	url = git@lorn.stelumi.com:stelumi/SPIRV-Cross.git
	branch = stelumi/fix-msvc-warning-returns
[submodule "spirv-headers"]
	path = external/SPIRV-Headers
	url = git@lorn.stelumi.com:stelumi/SPIRV-Headers.git
	branch = main
[submodule "spirv-tools"]
	path = external/SPIRV-Tools
	url = git@lorn.stelumi.com:stelumi/SPIRV-Tools.git
	branch = main
[submodule "DirectXShaderCompiler"]
	path = external/DirectXShaderCompiler
	url = git@lorn.stelumi.com:stelumi/DirectXShaderCompiler.git
	branch = stelumi/microsoft-dxc-20260927
